body{
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.header{
    width: 100%;
    background-color: rgb(230, 228, 227);
    height: 50px;
}

.header> h1{
    padding-top: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(75, 74, 74);
}


.content{
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-color: #fff;
    padding: 50px;
}

aside{
    height: 100vh;
    width: 20%;
    background-color: rgb(164, 164, 168);
    transform: translate(0, -600px);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-image: url(../images/nubeDistribuida.png);
    background-repeat: no-repeat;
    background-size: 100% 40vh;
    height: 40vh;
}

table{
    border: 1px solid gray;
}

thead{
    border-bottom: 1px solid gray;
}