.galleryComponent{
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    border: 1px solid rgb(167, 167, 167);
    flex-wrap: wrap;
    display: inline-flex;
}

.itemProduct{
    width: 24%;
    height: 200px;
    border: 1px solid rgb(167, 167, 167);
    margin-right: 10px;
}